.wrapper {
	height: 800px;
	position: relative;
}

.pt-advantage-figure {
	position: relative;
	overflow: hidden;
	transform: translateZ(0);
	height: 100%;
}

@media (min-width: 550px) and (max-height: 550px) {
	.pt-advantage-figure {
		padding-bottom: 0;
	}
}

@media (min-width: 1024px) {
	.pt-advantage-figure {
		top: 0;
		padding-bottom: 0;
	}
}

@media (min-width: 1200px) {
	.pt-advantage-figure {
		height: 810px;
	}
}

/* @media (min-width: 1600px) {
	.pt-advantage-figure {
	}
}
@media (min-width: 2050px) and (min-height: 950px) {
	.pt-advantage-figure {
	}
} */

.pt-advantage-figure-box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.pt-advantage-figure-scene {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
@media (min-width: 1024px) {
	.pt-advantage-figure-scene {
		top: -20px;
		bottom: -20px;
	}
}
.pt-advantage-figure-screen {
	position: absolute;
	top: 50%;
	left: 7%;
	right: 7%;
	transform: translateY(-50%) translateZ(0);
}
@media (pointer: fine) {
	.pt-advantage-figure-screen {
		-ms-touch-action: none;
		touch-action: none;
		pointer-events: none;
	}
}
@media (min-width: 1200px) {
	.pt-advantage-figure-screen {
		left: 10%;
		right: 10%;
	}
}
.pt-advantage-figure-screen img {
	width: 100%;
}

.pt-advantage-figure.-v2 {
	background: #4b4662;
}

.pt-cursor.-opaque {
	color: rgba(255, 255, 255, 0.25);
}
.pt-cursor.-opaque:before {
	transform: scale(1.1);
}
.pt-cursor.-opaque.-active:before,
.pt-navbar.-open .pt-navbar-toggle button.pt-cursor.-opaque:before {
	transform: scale(1.2);
}

.pt-fallbox {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	contain: strict;
	user-select: none;
}
.pt-fallbox-item {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-100%, -100%);
	will-change: transform;
}
.pt-fallbox-item span {
	display: inline-block;
	padding: 12px 20px;
	transform: translate(-50%, -50%);
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
	color: #000;
	background: #fef2ff;
	border-radius: 18px;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: -0.02em;
}
.pt-fallbox-item span:active {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}
@media (min-width: 768px) {
	.pt-fallbox-item span {
		padding: 14px 24px;
		border-radius: 25px;
		font-size: 22px;
	}
}
@media (min-width: 1600px) {
	.pt-fallbox-item span {
		padding: 18px 31px;
		border-radius: 33px;
		font-size: 28px;
	}
}
.pt-fallbox-item.-lg span {
	padding: 13px 23px;
	border-radius: 25px;
	font-size: 23px;
}
@media (min-width: 768px) {
	.pt-fallbox-item.-lg span {
		padding: 30px 50px;
		border-radius: 55px;
		font-size: 49px;
	}
}
@media (min-width: 1024px) {
	.pt-fallbox-item.-lg span {
		padding: 19px 32px;
		border-radius: 36px;
		font-size: 31px;
	}
}
@media (min-width: 1200px) {
	.pt-fallbox-item.-lg span {
		padding: 23px 40px;
		border-radius: 44px;
		font-size: 38px;
	}
}
@media (min-width: 1600px) {
	.pt-fallbox-item.-lg span {
		padding: 31px 54px;
		border-radius: 58px;
		font-size: 52px;
	}
}
.pt-fallbox-item.-xl span {
	padding: 15px 25px;
	border-radius: 26px;
	font-size: 25px;
}
@media (min-width: 768px) {
	.pt-fallbox-item.-xl span {
		padding: 32px 55px;
		border-radius: 61px;
		font-size: 55px;
	}
}
@media (min-width: 1024px) {
	.pt-fallbox-item.-xl span {
		padding: 20px 35px;
		border-radius: 40px;
		font-size: 35px;
	}
}
@media (min-width: 1200px) {
	.pt-fallbox-item.-xl span {
		padding: 25px 44px;
		border-radius: 44px;
		font-size: 43px;
	}
}
@media (min-width: 1600px) {
	.pt-fallbox-item.-xl span {
		padding: 35px 58px;
		border-radius: 64px;
		font-size: 58px;
	}
}
.pt-fallbox-item.-v1 span {
	background: #b8b2d2;
}
.pt-fallbox-item.-v2 span {
	background: #e4e3e7;
}
.pt-fallbox-item.-v3 span {
	background: #dbb0e8;
}
.pt-fallbox-item.-v4 span {
	background: #b8c1f0;
}
.pt-fallbox-item.-v5 span {
	background: #fcdae9;
}
.pt-fallbox-item.-v6 span {
	background: #d9fcfc;
}
.pt-fallbox-item.-v7 span {
	background: #ffefab;
}
.pt-fallbox-item.-v8 span {
	background: #d3d3d8;
}
.pt-fallbox-item.-v9 span {
	background: #a6f8f8;
}
.pt-fallbox-item.-v10 span {
	background: #fef2ff;
}
.pt-fallbox-item.-v11 span {
	background: #fffac0;
}
.pt-fallbox-item.-v12 span {
	background: #c9fec4;
}
