.demo {
	height: 800px;
	position: relative;
	background: #fef2ff;
	margin-bottom: 100vh;
}

.demo-2 {
	height: 500px;
	position: relative;
	background: #fef2ff;
}

.pills-fallbox {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	contain: strict;
	user-select: none;
}

.pills-fallbox-item {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-100%, -100%);
	will-change: transform;

	&:not(.logo) {
		span {
			font-family: 'IBM Plex Mono';
			font-style: normal;
			font-weight: 300;
			line-height: 100%;
			font-size: 30px;
			letter-spacing: -1.9px;
		}
	}

	span {
		display: inline-block;
		padding: 30px;
		border-radius: 46px;
		transform: translate(-50%, -50%);
		cursor: grab;
		color: #23213a;
		background-color: #fef2ff;

		&:active {
			cursor: grabbing;
		}

		&:empty {
			background-position: center;
			background-size: 80%;
			background-repeat: no-repeat;
			&::before {
				content: '&nbsp;';
				visibility: hidden;
			}
		}

		img {
			height: 100px;
			width: 100px;
			user-select: none;
			pointer-events: none;
		}

		@media (max-width: 768px) {
			padding: 20px;
			font-size: 22px;
			border-radius: 36px;

			img {
				height: 70px;
			}
		}
	}

	/******** Sizes ***********/
	&.large span {
	}

	/******** Colors ***********/
	&.razzmatazz-3 span {
		background-color: #f8b6d3;
	}

	&.razzmatazz-2 span {
		background-color: #f26ca7;
	}

	&.purple-munsell-3 span {
		background-color: #dbb0e8;
	}

	&.purple-munsell-2 span {
		background-color: #c177d7;
	}

	&.space-cadet-3 span {
		background-color: #a7a6b0;
	}

	&.florescent-blue-3 span {
		background-color: #a6f8f8;
	}

	&.cyber-yellow-3 span {
		background-color: #ffefab;
	}

	&.cyber-yellow-2 span {
		background-color: #ffe36f;
	}

	&.picotee-blue-3 span {
		background-color: #b8b2d2;
	}

	&.picotee-blue-4 span {
		background-color: #b8c1f0;
	}

	&.florescent-blue-3 span {
		background-color: #a6f8f8;
	}

	&.guardians-blue-2 span {
		background-color: #586edd;
	}

	/** Logos **/

	&.kenze span {
		background-image: url('https://uploads-ssl.webflow.com/62682b2cda7d48ac9cf59289/634732265b35a1570b3d58d0_kenzen.png');
	}

	&.nickson span {
		background-image: url('https://uploads-ssl.webflow.com/62682b2cda7d48ac9cf59289/63473226307f8f5ed44655f8_nickson.png');
	}

	&.crafty span {
		background-image: url('https://uploads-ssl.webflow.com/62682b2cda7d48ac9cf59289/63473226c49f2e018d0b2ced_crafty.png');
	}

	&.phood span {
		background-image: url('https://uploads-ssl.webflow.com/62682b2cda7d48ac9cf59289/634732264d00984e778964d8_phood.png');
	}

	&.rollkall span {
		background-image: url('https://uploads-ssl.webflow.com/62682b2cda7d48ac9cf59289/6347322694e3093d59150752_rollkall.png');
	}

	&.livly span {
		background-image: url('https://uploads-ssl.webflow.com/62682b2cda7d48ac9cf59289/6347322600eca3a1346a38f4_livly.png');
	}

	&.recess span {
		background-image: url('https://uploads-ssl.webflow.com/62682b2cda7d48ac9cf59289/63473226cdfa6211cc37a0ac_recess.png');
	}

	&.playfull span {
		background-image: url('https://uploads-ssl.webflow.com/62682b2cda7d48ac9cf59289/63473226fa69485898966e32_playfull.png');
	}
}
