.demo {
	height: 800px;
	position: relative;
	background: #fef2ff;
	margin-bottom: 100vh;
}

.demo-2 {
	height: 500px;
	position: relative;
	background: #fef2ff;
}

.pills-fallbox {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	contain: strict;
	user-select: none;
}

.pills-fallbox-item {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-100%, -100%);
	will-change: transform;

	&:not(.logo) {
		span {
			font-family: 'IBM Plex Mono';
			font-style: normal;
			font-weight: 300;
			line-height: 100%;
			font-size: 30px;
			letter-spacing: -1.9px;
		}
	}

	span {
		display: inline-block;
		padding: 30px;
		border-radius: 46px;
		transform: translate(-50%, -50%);
		cursor: grab;
		color: #23213a;
		background-color: #fef2ff;

		&:active {
			cursor: grabbing;
		}

		&:empty {
			background-position: center;
			background-size: 70%;
			background-repeat: no-repeat;
			&::before {
				content: '&nbsp;';
				visibility: hidden;
			}
		}

		img {
			height: 100px;
			width: 100px;
			user-select: none;
			pointer-events: none;
		}

		@media (max-width: 768px) {
			padding: 20px;
			font-size: 22px;
			border-radius: 36px;

			img {
				height: 70px;
			}
		}
	}

	/******** Sizes ***********/
	&.large span {
	}

	/******** Colors ***********/
	&.razzmatazz-3 span {
		background-color: #f8b6d3;
	}

	&.razzmatazz-2 span {
		background-color: #f26ca7;
	}

	&.purple-munsell-3 span {
		background-color: #dbb0e8;
	}

	&.purple-munsell-2 span {
		background-color: #c177d7;
	}

	&.space-cadet-3 span {
		background-color: #a7a6b0;
	}

	&.florescent-blue-3 span {
		background-color: #a6f8f8;
	}

	&.cyber-yellow-3 span {
		background-color: #ffefab;
	}

	&.cyber-yellow-2 span {
		background-color: #ffe36f;
	}

	&.picotee-blue-3 span {
		background-color: #b8b2d2;
	}

	&.picotee-blue-4 span {
		background-color: #b8c1f0;
	}

	&.florescent-blue-3 span {
		background-color: #a6f8f8;
	}

	&.guardians-blue-2 span {
		background-color: #586edd;
	}

	/** Logos **/

	&.kenze span {
		background-image: url('https://uploads-ssl.webflow.com/62682b2cda7d48ac9cf59289/634878ba5bafee0dd80e90f7_kenzen.png');
		background-size: 60%;
	}

	&.nickson span {
		background-image: url('https://uploads-ssl.webflow.com/62682b2cda7d48ac9cf59289/634878bacdd4cd9b297b064a_nickson.png');
		background-size: 60%;
	}

	&.crafty span {
		background-image: url('https://uploads-ssl.webflow.com/62682b2cda7d48ac9cf59289/634878bafcc3717828f5f239_crafty.png');
		background-size: 45%;
	}

	&.phood span {
		background-image: url('https://uploads-ssl.webflow.com/62682b2cda7d48ac9cf59289/634878ba08d6ec76e666333d_phood.png');
		background-size: 50%;
	}

	&.rollkall span {
		background-image: url('https://uploads-ssl.webflow.com/62682b2cda7d48ac9cf59289/634878ba2727be0721f97157_RK.png');
		background-size: 65%;
	}

	&.livly span {
		background-image: url('https://uploads-ssl.webflow.com/62682b2cda7d48ac9cf59289/634878ba8041417f4359aa00_Livly.png');
		background-size: 50%;
	}

	&.recess span {
		background-image: url('https://uploads-ssl.webflow.com/62682b2cda7d48ac9cf59289/634878bacb59b648428e9296_recess.png');
	}

	&.playfull span {
		background-image: url('https://uploads-ssl.webflow.com/62682b2cda7d48ac9cf59289/634878bae86fdc3a8fd855a5_playful.png');
		background-size: 60%;
	}

	&.banyan span {
		background-image: url('https://uploads-ssl.webflow.com/62682b2cda7d48ac9cf59289/634878ba2862ca60382d7e22_banyan.png');
		background-size: 50%;
	}
}
